*.iml
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
keystore.properties
release-key.keystore
*.keystore
*.p12
update-firestore-emails/serviceAccountKey.json
update-firestore-emails/node_modules/
.idea/
